body {
  background-color: #c2d6c6;
  padding-top: 50px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .25rem;
  position: relative;
  width: 200px;
  height: 270px;
  perspective: 1000px;
  cursor: pointer;
}

.card .fcard{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 8px;
}

.card .front {
  background-color: #f1f4f2;
  z-index: 2;
}

.card .back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.card.flip .fcard{
  transform: rotateY(180deg);
}


.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(244, 159, 159);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}

.card:hover .delete-button {
  display: block;
}


.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
  margin: 0 auto; 
}

.edit-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #4076afc5;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}

.card:hover .edit-button {
  display: block;
}

.last-modified {
  font-size: 10px; 
  color: #435fea;
  position: absolute;
  bottom: 12px; 
  left: 5px;
}

.status {
  font-size: 10px; 
  color: #435fea;
  position: absolute;
  bottom: 0px;  
  left: 5px;
}

.search {
  margin-bottom: 10px;
}

.search-field {
  padding: 7px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #435fea;
  border-radius: 4px;
}


select {
  padding: 7px;
  margin-left: 7px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fff;
}

.contain {
  position: absolute;
  padding: 7px;
  top: 50px; 
  left: 380px;
}
